<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Character</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div id="character-sheet">
    <h2 style="text-align: center;">Create Your Character</h2>

    <form th:action="@{/AIDnD/create}" th:object="${character}" method="post" style="max-width: 400px; margin: 0 auto;">
        <br>
        <br>
        <br>
        <label>Name:</label>
        <input type="text" th:field="*{name}" required/><br>

        <label>Age:</label>
        <input type="number" th:field="*{age}" min="0"  required/><br>

        <label>Level:</label>
        <input type="number" th:field="*{level}" min="1" value="10" required/><br>

        <label>HP:</label>
        <input type="number" th:field="*{hp}" min="8" max="15" value="10" required/><br>

        <label>XP:</label>
        <input type="number" th:field="*{xp}" min="0" value="10" required/><br>


        <label>Species:</label>
        <select th:field="*{species}" required>
            <option value="">-- Select Species --</option>
            <option value="Human">Human</option>
            <option value="Elf">Elf</option>
            <option value="Dwarf">Dwarf</option>
            <option value="Halfling">Halfling</option>
            <option value="Gnome">Gnome</option>
            <option value="Half-Elf">Half-Elf</option>
            <option value="Half-Orc">Half-Orc</option>
            <option value="Tiefling">Tiefling</option>
            <option value="Dragonborn">Dragonborn</option>
        </select><br>



        <label>Background:</label>
        <select th:field="*{background}" required>
            <option value="">-- Select Background --</option>
            <option value="Soldier">Soldier</option>
            <option value="Noble">Noble</option>
            <option value="Outlander">Outlander</option>
            <option value="Sage">Sage</option>
            <option value="Acolyte">Acolyte</option>
            <option value="Criminal">Criminal</option>
            <option value="Folk Hero">Folk Hero</option>
        </select><br>



        <label>Class:</label>
        <select th:field="*{dndclass}" required>
            <option value="">-- Select Class --</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Fighter">Fighter</option>
            <option value="Monk">Monk</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Rogue">Rogue</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
            <option value="Wizard">Wizard</option>
        </select><br>



        <label>Strength:</label>
        <input type="number" th:field="*{strength}" min="8" max="15" value="10" required/><br>

        <label>Dexterity:</label>
        <input type="number" th:field="*{dexterity}" min="8" max="15" value="10" required/><br>

        <label>Intelligence:</label>
        <input type="number" th:field="*{intelligence}" min="8" max="15" value="10" required/><br>

        <label>Constitution:</label>
        <input type="number" th:field="*{constitution}" min="8" max="15" value="10" required/><br>

        <label>Wisdom:</label>
        <input type="number" th:field="*{wisdom}" min="8" max="15" value="10" required/><br>

        <label>Charisma:</label>
        <input type="number" th:field="*{charisma}" min="8" max="15" value="10" required/><br>

        <br>
        <button type="submit" style="display: block; margin: 0 auto;">Start Adventure</button>
    </form>
</div>
</body>
</html>
